<div class="widget-components column-component"
	ng-click="toggle_select($event)">
	<div class="column-title"
		ng-show="component.extra.table.show_header&&!component.extra.table.first_row_header"
		style="">{{component.title}}</div>
	<ul
		ng-class="{'first-row-header':component.extra.table.first_row_header}">
		<li
			ng-repeat="item in component.display_value|chop:component.extra.table.row_option:component.extra.table.row_num track by $index">
			<div class="column-data"
				style="component .extra.table.first_row_header&amp;&amp;$index==0?component.extra.table.css_style: ''">{{item}}</div>
		</li>
	</ul>
</div>