<div>
	<div class="data-element" ng-if="datasource.type!=='NIFI'">
		<table>
			<thead>
				<tr>
					<th ng-repeat="item in datasource.data.meta.columns"
						ng-click="select_column($index)">{{item.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(row,v) in datasource.data.data">
					<td
						ng-class="{'selected':  select_start && select_end && (select_start.column-column)*(column-select_end.column)>=0 && (select_start.row-row)*(row-select_end.row)>=0}"
						ng-repeat="(column, value) in v track by column"
						ng-mouseover="select_item_move(row,column)"
						ng-mousedown="select_item_start(row,column)"
						ng-mouseup="select_item_end(row,column)">{{value}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="stream-element" ng-if="datasource.type==='NIFI'">
		<div class="stream-data-control">
			<div class="stream-indicator"></div>
			<div class="stream-data" ng-click="select_stream()"
				ng-if="datasource.data.data.length>0">{{datasource.data.data.join(',')}}</div>
		</div>
	</div>
</div>
