<div class="widget-components frame-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<iframe ng-src="{{component.tmp_url}}" width="100%" height="100%"
		frameborder="0" scrolling="{{component.overflow==0?'auto':'no'}}"
		style="">
		<p>you browser does not support frames</p>
	</iframe>
</div>