<div class="widget-components table-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<table align="center">
		<tr ng-repeat="row in getTimes(rows) track by $index"
			ng-init=" parentIndex = $index">
			<td ng-repeat="col in getTimes(cols) track by $index"
				class="grid-cell"
				ng-class="{true:'ctrl-selected', false:''}[layout_cells[parentIndex][$index].ctrl_id == $root.selected_component.ctrl_id]"
				rowspan='{{layout_cells[parentIndex][$index].height}}'
				colspan='{{layout_cells[parentIndex][$index].width}}'
				ng-if="layout_cells[parentIndex][$index]!=null&&layout_cells[parentIndex][$index].visible==true"
				ng-click="toggle_cell_select(layout_cells[parentIndex][$index],$event)">
				<x-widget widget="layout_cells[parentIndex][$index]" root="false">
				</x-widget>
			</td>
		</tr>
	</table>
</div>