<div class="widget-components html-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class="html-container"
		ng-bind-html='component.html_string|to_trusted'
		ng-class="{'height-small':component.height=='Small', 'height-medium':component.height=='Medium','height-large':component.height=='Large','oa':component.overflow==0, 'oh':component.overflow==1}"
		ng-style="component.height=='Custom'?{height:component.custom_height+'px'}:{}">

	</div>
</div>