<div class="widget-components image-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class="image-container oh"
		ng-class="{'tc':component.alignment_horizontal == 0, 'tl':component.alignment_horizontal==1,'tr':component.alignment_horizontal==2}"
		style="">

		<img ng-src="{{component.tmp_url}}"
			width="{{component.resize==0?'auto':(component.resize==1?'100%':component.custom_resize_width+'px')}}"
			height="{{component.resize==2?(component.custom_resize_height+'px'):'auto'}}"
			ng-show="component.tmp_url!=null&&component.tmp_url!=''"
			img-load="imgload($event)" />

		<div ng-if="component.tmp_url==null||component.tmp_url==''"
			style="height: 100%; overflow: hidden;">
			<iframe src="/widget/sample/image" width="100%" scrolling='no'
				frameborder="0" />
		</div>

	</div>
</div>