<div class="widget-components separator-component"
	ng-class="{'separator-horizontal':component.orientation==0, 'separator-vertical':component.orientation!=0, 'ctrl-selected':component.ctrl_id == $root.selected_component.ctrl_id}"
	ctrl-draggable="{{!component.atom}}">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class='separator'>
		<div class="separator-sign"></div>
	</div>

</div>