<div class="widget-components table-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class="table-body">
		<ul>
			<li ng-repeat="component in component.components"
				ng-class="{true:'ctrl-selected', false:''}[component.ctrl_id == $root.selected_component.ctrl_id]"
				style=""><x-inline-component component="component"></x-inline-component>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>