<div class='tree-component' id="{{widget.ctrl_id}}">
	<div class='tree-component-name'>
		<span class="collapse fa"
			ng-class="{true:'fa-angle-down', false:'fa-angle-right'}[collapsed]"
			ng-click="collapsed = !collapsed"
			ng-show="widget.components.length>0||widget.cells.length>0"></span> <span
			style="padding: 3px" class="tree-component-title"
			ng-class="{'tree-active':widget.ctrl_id!=null&&widget.ctrl_id == $root.selected_component.ctrl_id, 'tree-highlight':highlight}">
			<span ng-class="icon_selector[widget.type]" class='component-icon'></span>
			<span class='tree-component-title' ng-click="toggle_select(widget)">{{widget.name}}</span>
			<span data="{{widget.type}}" class="tree-close"
			ng-click='remove_component(widget)' ng-if="root=='false'"
			ng-mouseover="over_close()" ng-mouseout="out_close()"> </span>
		</span>
	</div>
	<div class='tree-component-children' ng-show="collapsed == true">

		<ul>
			<li
				ng-repeat='component in (widget.components==null?widget.cells:widget.components)'
				ng-if="component.type!='cell' || (component.type=='cell'&&component.visible!=false)">
				<x-components-tree widget='component' root='false'></x-components-tree>
			</li>
		</ul>
	</div>
</div>