<div class="widget-components value-pair-component">
	<div class='handle'></div>
	<x-inline-component component="key_component" root="false">
	</x-inline-component>
	<x-inline-component component="value_component" root="false">
	</x-inline-component>
</div>