<div class="dashboard-adding-modal-dialog">
    <div class="modal-header" >
        添加仪表盘
    </div>
    <div class="modal-body">
        名称：<input type="text" ng-model="newDashboardTitle"/>
        <div class="modal-footer">
          <div class="modal-footer-right">
            <button ng-click="create()">创建</button>
            <a ng-click="$close()">取消</a>
          </div>
          <div class="clear"></div>
        </div>
    </div>
</div>
