<div class="new-widget-modal">
    <div class="modal-header" >
        添加Widget
    </div>
    <div class="modal-body">
        <widget-manager [as-chooser]="true" [show-checkbox]="true" [(selection)]="selection"></widget-manager>
        <div class="modal-footer">
          <div class="modal-footer-left">
            <button ng-click="create()">创建新小窗</button>
          </div>
          <div class="modal-footer-right">
            <button ng-click="add()">确定</button>
            <a ng-click="$close()">取消</a>
          </div>
          <div class="clear"></div>
        </div>
    </div>
</div>
