<div class="widget-components chart-component">
	<div class="chart-container" style="width: 100%; min-height: 300px"
		ng-class="{'height-small':component.height=='Small', 'height-medium':component.height=='Medium','height-large':component.height=='Large'}"
		ng-style="component.height=='Custom'?{height:component.custom_height+'px'}:{}"></div>
</div>