<div class="add-tab-panel slide" ng-show = "status.tab_adding">
    <div class="add-tab-search panel-bg-1">
        <div class="add-tab-search-input">
            <div class="add-tab-search-title">Dashboard 库</div>
            <div class="add-tab-search-bar">
                <ul>
                    <li>显示: </li>
                    <li>
                        <select>
                            <option>所有</option>
                            <option>我的</option>
                        </select>
                    </li>
                    <li>
                        <select>
                            <option>最新更改</option>
                            <option>名称</option>
                        </select>
                    </li>
                    <li>
                        <input type="text">
                        <span class="search-icon glyphicon glyphicon-search"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="add-tab-search-result"></div>
        
    </div>
    <div class="add-tab-blank panel-bg-2">
        <button  class="primary" ng-click="add_dashboard()">添加空Dashboard</button>
    </div>
</div>