<div class="widgets" gridster="delegate.options"
	ng-class="{'transition-effect-enabled': transitionEffectEnabled}">
	<ul>
		<li class="widget" gridster-item="widgetPort.gridsterItem"
			ng-repeat="widgetPort in delegate.widgetStates">
			<div class="widget-header">
				{{widgetPort.widget.title}}
				<div class="widget-ctrls">
					<div class="dropdown">
						<button class="ctrl-dropdown dropdown-toggle" type="button"
							id="dropdownMenu1" data-action="dropdown-floating"
							aria-haspopup="true" aria-expanded="true">
							<i class="glyphicon glyphicon-cog"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-right bs">
							<li><a ng-href="edit/{{widgetPort.widgetUid}}">编辑</a></li>
							<li role="separator" class="divider"></li>
							<li><a>共享</a></li>
							<li><a>下载</a></li>
							<li role="separator" class="divider"></li>
							<li><a>关于</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="removeWidget(widgetPort.widgetReference)">删除</a></li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="widget-content-frame">

				<div ng-if="!widgetPort.widget.is_canvas" class="widget-content"
					widget component="widgetPort.widget"></div>
				<div ng-if="widgetPort.widget.is_canvas" class="widget-content"
					canvas component="widgetPort.widget"
					style="height: 100%; position: relative;"></div>
			</div>
		</li>
	</ul>
</div>
