<div class="widget-components frame-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<iframe ng-src="{{tmp_url}}" width="100%" frameborder="0"
		ng-class="{'height-small':component.height=='Small', 'height-medium':component.height=='Medium','height-large':component.height=='Large'}"
		ng-style="component.height=='Custom'?{height:component.custom_height+'px'}:{}"
		scrolling="{{component.overflow==0?'auto':'no'}}" style="">
		<p>you browser does not support frames</p>
	</iframe>
</div>