<div class="widget-components table-component">
	<table align="center">
		<tr ng-repeat="row in getTimes(rows) track by $index"
			ng-init=" parentIndex = $index">
			<td ng-repeat="col in getTimes(cols) track by $index"
				rowspan='{{layout_cells[parentIndex][$index].height}}'
				colspan='{{layout_cells[parentIndex][$index].width}}'
				ng-if="layout_cells[parentIndex][$index]!=null&&layout_cells[parentIndex][$index].visible==true">
				<div widget component="layout_cells[parentIndex][$index]"></div>
			</td>
		</tr>
	</table>
</div>