<div class="widget-components image-component">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class="image-container oh"
		ng-class="{'height-small':component.height=='Small', 'height-medium':component.height=='Medium','height-large':component.height=='Large','tc':component.alignment_horizontal == 0, 'tl':component.alignment_horizontal==1,'tr':component.alignment_horizontal==2}"
		ng-style="component.height=='Custom'?{height:component.custom_height+'px'}:{}"
		style="">

		<img ng-src="{{component.url}}"
			width="{{component.resize==0?'auto':(component.resize==1?'100%':component.custom_resize_width+'px')}}"
			height="{{component.resize==2?(component.custom_resize_height+'px'):'auto'}}"
			ng-show="component.url!=null&&component.url!=''" />


	</div>
</div>