<div class="layout-selector slide" ng-show="status.layout_switch">
    <div class="layout-selector-close"><a href="#" ng-click="status.layout_switch=false"><span class="glyphicon glyphicon-remove"></span></a></div>
    <table width="100%" style="margin:0; padding:0;table-layout:fixed" cellpadding="0" cellspacing="0" >
        <tr>
            <td style="width: 15%" valign="top" class="panel-bg-1">
                <div class="layout-custom">
                    <div class="layout-selector-title">自定义</div>

                    <div class="layout-custom-grid">
                        <div>
                        <div ng-class="{true:'template-active', false:''}[use_custom]" style="overflow:hidden;">
                        <div style="" class="layout-grid-table-wrapper">
                        <div class="layout-grid-table" ng-click="toggle_custom_layout()" >
                            <ul ng-if="current_dashboard.grid_cols<=12">
                                <li ng-repeat="i in get_default_layout_column_number(current_dashboard.grid_cols)  track by $index"></li>
                            </ul>
                            <div ng-if="current_dashboard.grid_cols>12" class="layout-columns-number">
                                {{current_dashboard.grid_cols}}  列.
                            </div>
                        </div>
                        </div>
                        </div>
                        <div>
                        <div class="layout-custom-ctrl" ng-show="use_custom">
                            <span>列: </span>

                            <div class="layout-custom-ctrl-input">
                                  <div class="input-group spinner">
                                    <input readonly="readonly" type="text" class="form-control" ng-model = "current_dashboard.grid_cols">
                                    <div class="input-group-btn-vertical">
                                      <button class="btn btn-default" type="button" ng-click="increase_layout_column()"><i class="fa fa-caret-up"></i></button>
                                      <button class="btn btn-default" type="button" ng-click="decrease_layout_column()" ng-disabled="current_dashboard.grid_cols<=1"><i class="fa fa-caret-down"></i></button>
                                    </div>
                                  </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>

            <td valign="top" class="panel-bg-2" style="width: 85%">
                <div class="layout-template">
                    <div class="layout-selector-title">模板</div>
                    <div class="layout-grid-table">
                        <ul>
                            <li ng-repeat="layout_template in layout_templates" ng-class="{true:'template-active', false:''}[current_template == layout_template.index && use_template == true]">
                                <a href="javascript:void(0)" class="{{layout_template.style}}" ng-click="switch_layout(layout_template.index)"  ></a>
                            </li>
                           
                            
                        </ul>
                    </div>
                </div>
            </td>

            
        </tr>
    </table>
</div>