<div class="new-widget-modal">
    <div class="modal-header" >
        添加Widget
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="new-widget-list">
                    <ul>
                        <li>
                            <div class="new-widget-option">
                                <a href="#">添加现有Widget</a>
                                <p class="">
                                    添加自己或他人共享的Widget
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="new-widget-option">
                                <a href="#">从模板库中添加</a>
                                <p>
                                    添加预置的一些实用的Widget.
                                </p>
                            </div>
                        </li>
                        <li><a href="/library/widget/create" class="new-widget-btn">新建Widget</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">

            </div>
        </div>
    </div>
</div>
