<div class="widget-components chart-component">
	<div class="chart-container"></div>
	<ul>
		<li ng-repeat="item in component.components"><x-inline-component
				component="item"></x-inline-component></li>
	</ul>
</div>