<div class="widget-components separator-component"
	ng-class="{true:'separator-horizontal', false:'separator-vertical'}[component.orientation==0]">
	<div class="handle">
		<i class="fa fa-bars"></i>
	</div>
	<div class='separator'>
		<div class="separator-sign"></div>
	</div>
</div>