<div class="widget-components chart-component">
	<div class="chart-container"
		ng-class="{'height-small':component.options.height=='Small', 'height-medium':component.options.height=='Medium','height-large':component.options.height=='Large'}"
		ng-style="component.options.height=='Custom'?{height:component.options.custom_height+'px'}:{}"></div>
	<ul>
		<li ng-repeat="item in component.components"><x-inline-component
				component="item"></x-inline-component></li>
	</ul>
</div>