<div class="widget-components table-component">
	<div class="table-body">
		<ul>
			<li ng-repeat="component in component.components" style=""><x-column-component
					component="component"></x-column-component></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>