<div class="widget" ng-class="{'canvas': component.isCanvas}">
	<div class="widget-content" ng-if="component.isCanvas==false">
		<x-widget component="component"> </x-widget>
	</div>
	<div class="widget-content" ng-if="component.isCanvas==true">
		<x-canvas component="component"> </x-canvas>
	</div>
</div>

