<div class="board-ctrl" ng-if="widgets.length > 0">
    <ul>
        <li>
            <a href="#" ng-click="open_new_widget_dialog()"><div><span class="glyphicon glyphicon-plus-sign"></span>添加一个Widget</div></a>
        </li>
        <li>
            <a ng-class="{true: 'active', false: 'inactive'}[status.layout_switch]" href="#" ng-click="status.layout_switch = !status.layout_switch">
                <div><span class="glyphicon glyphicon-th"></span>更改布局</div>
            </a>
        </li>
    </ul>

    
    
</div>