@edit-properties-panel-color: #f7f7f7;
body {
    font-family:'微软雅黑'
}
#logo, .font-lobster {
	position:relative;
	top:3px;
}
.loading-spinner {
    position:absolute;
    left: 50%;
    display:block;
}
.logo-container {
	float:left;
}
.ui-draggable-dragging {
	z-index:1000;
}
.sk-fading-circle {
    width: 100px;
    height:100px;
    margin-left:-50px;
     .sk-circle:before{
        background-color:#666;
     }
}

.edit-main {
    .header {
        height: 42px;
        background:linear-gradient(#fcfcfc, #f5f5f5);
        border-bottom: 1px solid #d8d8d8;
    }
}

.header-ctrl {
    margin: 12px 2px 4px 2px;
    ul {
        li {
            display:inline-block;
            margin-right: 10px;
            a {
                color:inherit;
            }
        }
    }
}
.header-ctrl-btn {
    padding: 4px;
    color:#000;

    .fa {
        margin-right: 5px;
    }
}
.resize-bar {
    position: absolute;

    top:0;
    z-index:3;
    &.horizontal {
        height: 100%;
        width: 2px;
        right: 0;
        cursor:e-resize;
    }

    &.vertical {
        width: 100%;
        height: 3px;
        cursor:s-resize;
    }
}

.invisible-resize-bar {
    background: transparent;
    width: 2px;
}
.edit-header-bar {
	display:inline-block;
	padding-left:10px;
	padding:5px;
	border-bottom:1px solid #ccc;
	height: 42px;
	overflow:hidden;
	margin-left: 160px;
}
.edit-panel {
    position: absolute;
    top: 42px;
    left: 0;
    bottom: 180px;
    right: 0;
    section {
        height: 100%;
        position: relative;
        overflow:auto;
        .panel-content {
            white-space: nowrap;
            overflow: hidden;
            position:relative;
            padding:10px;
        }
    }
    .left {
        float:left;
        width: 15%;
        background:#697886;
        overflow:hidden;
    }

    .middle {

    }
    .right {
        float:right;
        width: 10%;
    }
}

.tree-component {
    line-height: 1.8;
    .tree-component-children {
        padding-left: 20px;
    }
    .collapse {
        color:#bbb;
        cursor:pointer;
        width: 15px;
    }
    .component-icon {
        color:#fff;
        font-size: 0.8em;
    }

    li {
    }
    .tree-component-title {
        color:#dedede;
    }
    .tree-component-name {

    }
}
.editing-widget-wrapper {
    position: relative;
    text-align: center;
    overflow:auto;
    height:100%;
}
.editing-widget {
    min-width: 800px;
    min-height: 200px;
    display: inline-block;
    max-width: 1200px;
    border: 1px solid #c7c7c7;
    margin: 20px auto;
    position: relative;
    box-shadow: 1px 1px 2px #bbb;
    text-align: left;

}

.widget-header {
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
    color:#666;
    font-size: 1.2em;
    text-align: left;
}

.widget-content {
    background: #fff;
    z-index:1;
    word-break: break-all;
    white-space: normal;
    overflow:hidden;
}


.editing-canvas {
    position:relative;
    height:100%;
    .widget-content {
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
    }
    .root-content {
        padding:0;
    }
    .editing-canvas-content {
        height:100%;
        position:relative;
    }
    .editing-canvas-container {
        height:100%;
        overflow:auto;
    }
    .editing-canvas-inner {
        height:100%;
        position:relative;
        cursor:move;

        >ul {
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            z-index:2;
            >li {
                position:absolute;
                top:0;
                left:0;
                display:inline-block;
                overflow:hidden;
            }
        }
    }
    .widget-bg {
        position:absolute;
        top:0;
        left:0;
        z-index:0;
    }
    .pan-navigator {
        position:absolute;
        left:10px;
        top:10px;
        z-index:10;
        li {
            display:inline-block;
            margin-right:5px;
            vertical-align:top;
            a {
              display: block;
    background: #697886;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    box-shadow: 1px 1px 1px #E2E2E2;
    padding: 0 5px;
    width: 25px;
    height: 25px;
    line-height: 1.8;
    			&:hover  {
    				background: linear-gradient(#ffffff,#e2e2e2);
    border: 1px solid #afafaf;
    color: #444;
    			}
                &.upload-image {
                    overflow:hidden;
                    input {
                        font-size:10em;
                        position:absolute;
                        top:0;
                        right:0;
                        opacity:0;
                        filter:opacity(0);

                    }
                }
            }
        }
    }
}
.root-content {
    padding: 10px;
}
.ctrls-list{
    text-align:center;
    height: 100%;
    display:inline-block;
   	ul{
   		li {
   			display:inline-block;
   			border:1px solid transparent;
   			border-radius: 4px;
   		}
   	}
}

.ctrl-item {
      font-size: .8em;
    color: #fff;
    padding: 6px;
    text-align: center;
    cursor: move;
    border-radius: 50%;
    background: #697886;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border:1px solid transparent;
    &:hover {
background: linear-gradient(#ffffff,#e2e2e2);
    border: 1px solid #afafaf;
    color: #444;
    }
    i {
        font-size:1.5em;
    }
}


.drop-hover {
}
.sortable-list {
    min-height: 100px;
}

.droppable {

    >li {
        margin: 0 auto;
        border:1px solid transparent;
        cursor:pointer;
        display:block;
        &.active {
            border:1px solid #000;
        }


    }
}

.placeholder_inline {
    min-height: 30px;
    width: 1px;
    border: 2px solid #4389E6;
    animation: blink .5s infinite ease-in-out;
}
.placeholder {
    min-height: 30px;
    border:2px solid #4389E6;
}
@keyframes blink {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.replaceholder {
    border: 1px dashed #4389E6;
}
.properties-panel {
    position:absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
    .nav {
        border-bottom: 1px solid #bbb;
        li{
            &.active a {
                background:@edit-properties-panel-color;
                color:#444;
                font-weight:bold;
                border-bottom: 1px solid @edit-properties-panel-color;

                &:hover {
                    border:1px solid #bbb;
                    border-bottom: 1px solid @edit-properties-panel-color;
                }

                &:active {
                    border:1px solid #bbb;
                    border-bottom: 1px solid @edit-properties-panel-color;
                }

                &:focus {
                    border:1px solid #bbb;
                    border-bottom: 1px solid @edit-properties-panel-color;
                }
            }

            a {
                border-radius: 0;
                display: block;
                padding: 3px 10px;
                min-width: 120px;
                text-align: center;
                background:#D6DEE2;
                border:1px solid #bbb;
                border-bottom: 1px solid #bbb;
                color:#999;
            }
        }
    }
    .tab-content {
        height: 280px;
        .tab-pane {
            display:none;
            height: 100%;
            &.active {
                display:block;
            }
        }
    }
    .properties-content {
        background:@edit-properties-panel-color;
        padding: 20px 40px;
        height: 100%;
        border-left: 1px solid #bbb;
        overflow-y:auto;
        .row {
            background: @edit-properties-panel-color;
        }

        .form-control {
            border-radius: 0;
        }

        .btn-apply {
            color: #fff;
            border: 1px solid #565656;
            background: linear-gradient(#9E9E9E,#757575);
            font-weight:bold;
        }
        .btn-gray {
            color: #464646;
            font-weight: normal;
            border: 1px solid #ADADAD;
            padding: 4px 8px;
            background: linear-gradient(#fff,#D8D8D8);

            &:hover {
                background: linear-gradient(#F3F3F3,#B1B1B1);
            }
        }
    }
}

.ctrl-selected {
    border:1px solid #179AD2 !important;
    .handle {
        display:block;
        z-index:3;
    }

    .resize-handle {
        display:block;
        z-index:3;
    }
}
.tree-component-title {
	border:1px solid transparent;
	transition:all .2s ease-in-out;
}
.tree-close {
	display:inline-block;
    margin-left:10px;
    padding:5px;
    position:relative;
    cursor:pointer;
}
.tree-highlight {
	background:#631515 !important;
	border:1px solid #520d0d !important;
}
.tree-close:before {
	transform:rotate(45deg);
}

.tree-close:after {
	transform:rotate(-45deg);
}
.tree-close:before, .tree-close:after {
	height: 1px;
    width: 100%;
    border-top: 1px solid #fff;
    position:absolute;
    top:50%;
    left:0;
    display: block;
    content: '';
}
.tree-active {
    background-color: #313131;
    border: solid 1px #91adc2;
}

.properties {
    input {
        padding: 10px;
        font-size:1.2em;
        font-weight:bold;
        &.small-input {
            font-size:1em;
            font-weight:normal;
        }

        &.px-input {
            display:block;
            &:after {
                content:'px';
                width:10px;
                height: 10px;
            }
        }
    }
}

.editing-component {
    height: 100%;
    .droppable {
        height: 100%;
    }
    >ul
    {
        >li {
            overflow:hidden;
        }
    }
}

.spinner {
    >input {
        border-radius:0;
        &[readonly] {
            background:#fff;
        }
    }
    .input-group-btn-vertical {
      position: relative;
      white-space: nowrap;
      width: 1%;
      vertical-align: middle;
      display: table-cell;
    }
    .input-group-btn-vertical > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px 16px;
      text-align:center;
      margin-left: -1px;
      position: relative;
      background:#e8e8e8;
      border-radius: 0;
    }
    .input-group-btn-vertical > .btn:first-child {
    }
    .input-group-btn-vertical > .btn:last-child {
      margin-top: -2px;
    }
    .input-group-btn-vertical i{
      position: absolute;
      top: 0;
      left: 11px;
    }
}


.properties-content  {
    .togglebtn {
        font-size:1.5em;
        margin-right:5px;
        display:inline-block;
        color:#666;
         &:hover{
            color:#000;
            font-weight:bold;
         }
    }
    .colorpalette {
        a {
            display: inline-block;
            font-size: 1.3em;
            line-height: 1;
        }

        input  {
               font-size: 1em;
                padding: 0;
                min-width: 10px;
                width: 70px;
                vertical-align: top;
                border: 0 none;
                margin-left: 3px;
                background: transparent;
                border-bottom: 1px solid #aaa;
        }
    }
    .properties-selection {
        padding-top: 6px;
    }
    .properties-option-list {
        >li {
            font-weight:bold;
            margin-right: 3px;
            width: 25px;
            height: 25px;
            padding: 2px;
            color:#555;
            vertical-align: middle;
            text-align: center;
            a {
                color:inherit;
            }

            &.selected {
                background: linear-gradient(#757575,#929292);
                color: #fff;
                border: 1px solid #EAEAEA;
                box-shadow: 1px 1px 1px #676565 inset;
            }
        }
    }
}
.data-properties {

    .add-datasource-field {
        margin-top:30px;
        text-align:center;
        button {
            margin:auto;
        }
    }
    .data-panel-container {
        padding:10px;
        background:#f2f2f2;
        border:1px solid #bbb;
        border-bottom:0 none;
    }

    .data-panel-list {
        padding-bottom: 10px;
        border-top: 1px solid #b3b3b3;
        margin-top:-1px;
        color:#888;
        font-weight:bold;
        >ul{
            margin-top:-1px;
            >li {
                display:inline-block;
                margin-right: 2px;
                a {
                    display: block;
                    padding: 4px 10px;
                    min-width: 100px;
                    color: inherit;
                    max-width:200px;
                    border:1px solid #b3b3b3;
                    overflow:hidden;
                    text-align:center;
                    text-overflow:ellipsis;
                    text-shadow:1px 1px 1px #fff;
                    background: linear-gradient(#D8D8D8,#C3C3C3);
                    &.active {
                        background: linear-gradient(#f2f2f2,#fff);
                        border-top: 1px solid #f2f2f2;
                    }

                    &.add-datasource {

                    }
                }
            }
        }
    }
    .formular {
        padding: 6px;
        background: #C3C3C3;
        border: 1px solid #8E8E8E;
        box-shadow: 2px 2px 4px #8A8A8A inset;
        border-bottom: 0 none;
        color: #fff;

        ul
         {
            li {
                background: #6D6D6D;
                display: inline-block;
                padding: 4px 6px;
                box-shadow: 2px 2px 2px #565656 inset;
                text-shadow: 0 0 1px #000;
                border-radius: 3px;
            }
         }
    }
    .options {
        margin-bottom:10px;
        padding: 5px;
        //background: linear-gradient(#F1F3F2,#E2E2E2);
        background:#9C9C9C;
        border: 1px solid #6d6d6d;
        >ul {
            >li {
                display:inline-block;
                a {
                    font-size: 1.3em;
                    padding: 4px;
                    width: 30px;
                    color: #333;
                    height: 28px;
                    vertical-align: middle;
                    text-align: center;
                    display: block;
                    border:1px solid transparent;
                    &.active {
                        border: 1px solid #f2f2f2;
                        background: #B3B3B3;
                        box-shadow: 2px 2px 4px #828080 inset;
                        border-radius: 2px;
                        color: #fff;
                    }
                }
            }
        }
    }

}


.position-option-sample {
    tr {
        td {
            padding:4px;
            border: 1px dotted gray;
        }
    }

    &.position-left {
        border-left:2px solid #999;
    }
    &.position-right {
        border-right:2px solid #999;
    }
    &.position-top {
        border-top:2px solid #999;
    }

    &.position-bottom {
        border-bottom:2px solid #999;
    }

    &.position-selected {

    }
}

.position-selected {
    background: linear-gradient(#757575, #929292);
    .position-option-sample {
        border-color:#fff !important;
        tr {
            td {
                border-color:#fff !important;
            }
        }
    }
}


.ui-resizable-se {
    background: transparent !important;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent;

}

.ctrl-selected {
    .ui-resizable-se {
        border-bottom-color:#eee;
    }
}
.chart-container {
    height:100%;
}

.add-datasource-popup {
	h4 {
		padding: 10px;
    	font-weight: 700;
    	margin: 0;
    	background: linear-gradient(#fff,#c5c5c5);
    	border-bottom: 1px solid #aaa;
	}
	.add-datasource-list {
		padding: 10px;
	}
	table {
		margin-top:10px;
		width: 100%;

		th,td {
			padding: 10px;
		}
		thead {
			tr {
				background: linear-gradient(#fff, #cecece);
    			border: 1px solid #aaa;
			}
		}
		tbody {
			tr {
				transition: background .2s ease-in-out;
				cursor:pointer;
				&:hover {
					background:#ddd;

				}
			}
		}
	}
}
.data-element {
	overflow:auto;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	table {
		width: 100%;
		background:#fff;
		text-align:center;
		thead {
			th {
				padding:  10px;
				background:linear-gradient(#fff,#d8d8d8);
				border:1px solid #ccc;
				cursor:pointer;
			}
		}
		tbody {
			td {
				border:1px solid #ccc;
				&:hover {
    				cursor: pointer;
				}
			}
		}
	}
	.selected {
		background: #40b2d2;
    	color: #fff;
	}
}
.tiny-shape {
    padding: 7px;
    border:3px solid #888;
    display:block;
    .selected & {
        border-color:#fff;
    }
}
.tiny-rectangle {
}

.tiny-round-rectangle {
    border-radius: 3px;
}
.tiny-circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.rgba-input {
    width: 160px;
}
.stream-data {
    min-height: 20px;
    background: linear-gradient(#fff,#dcdcdc);
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor:pointer;
    margin:10px 0 0 10px;
}
.stream-indicator {
    display:inline-block;
    vertical-align: top;
    width:50px;
    height:50px;
}
.frequency-selection {
    li {
        border: 1px solid #aaa;
        border-radius: 100%;
        background: linear-gradient(#fff,#dcdcdc);
        margin-right:10px;
        &:hover {
            background:#fff;
        }

        &.selected {
            background: linear-gradient(#6b6b6b,#b1b1b1);
            color: #fff;
            border:1px solid #555;
        }
        a {
            display: block;
            padding: 10px 8px;
            text-decoration: none;
            &:focus {
                color:inherit;
            }
            &:hover {
                color:inherit;
            }
        }
    }
}
.duration-selection {
    li {
        border: 1px solid #aaa;
        background: linear-gradient(#fff,#e2e2e2);
        margin-right: 10px;

        &:hover {
            background:#fff;
        }

        &.selected {
            background: linear-gradient(#6b6b6b,#b1b1b1);
            color: #fff;
            border:1px solid #555;
        }
        a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            &:focus {
                color:inherit;
            }
            &:hover {
                color:inherit;
            }
        }
    }
}
.conditional-formatting {

    .conditional-formatting-container {
        border: 1px solid #ccc;
        margin:10px;
        padding:20px;
        position:relative;
        .if-condition {
            position:relative;
        }
        .close {
            position:absolute;
            top:10px;
            right: 10px;
            z-index:2;
        }
        .add-if{
            position:absolute;
            right: 100px;
            z-index:2;
            button {
                padding: 0 40px;
                font-size:1.5em;
                z-index:2;
            }
        }
        .remove_if {
            position: absolute;
            right: -20px;
            top: 10px;
        }

        .conditional-formatting__right {
            position:relative;
        }
    }

    .conditional-formatting-add {
        text-align:center;
        button {
            padding: 0 40px;
            font-size: 1.5em;
        }

    }
}