<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base">
<head>
<meta charset="utf-8">
<div layout:fragment="style">
	<link type="text/css" rel="stylesheet"
		href="/css/dist/view/view.min.css">
</div>
</head>
<body>
	<!-- <div layout:fragment="newBtn">
		<a class="add-widget-btn" href="/widget/new/">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div> -->
	<div layout:fragment="content">


		<div class="main" id="container" ng-controller="controller"
			ng-init="load()" ng-class="">
			<div class="loading-spinner sk-fading-circle" ng-show="loading">
				<div class="sk-circle1 sk-circle"></div>
				<div class="sk-circle2 sk-circle"></div>
				<div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div>
				<div class="sk-circle5 sk-circle"></div>
				<div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div>
				<div class="sk-circle8 sk-circle"></div>
				<div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div>
				<div class="sk-circle11 sk-circle"></div>
				<div class="sk-circle12 sk-circle"></div>
			</div>
			<div class="dashboard ng-cloak"
				ng-class="{true:'vh',false:'vv'}[loading]">
				<!--用ng-show会导致空widget显示错误-->

				<!--add tab panel -->
				<!--end add tab panel -->
				<!-- tabs -->

				<!--end tabs -->


				<!-- layout board -->
				<div class="main-tab-content">
					<div class="loading-spinner sk-three-bounce"
						ng-show="widget_loading">
						<div class="sk-child sk-bounce1"></div>
						<div class="sk-child sk-bounce2"></div>
						<div class="sk-child sk-bounce3"></div>
					</div>


					<div class="container-fluid">
						<ul class="row">
							<li ng-repeat="widget in widgets"
								class="col-md-3 widget-container">
								<div class="widget-control dropdown">
									<button id="dLabel" type="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										<i class="glyphicon glyphicon-cog"></i>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dLabel">
										<li><a ng-href="/widget/{{widget.id}}/">全屏 </a></li>
										<!-- 跳转到widgetController下的widgetDetail方法 -->
										<li><a ng-href="/widget/{{widget.id}}/edit">编辑 </a></li>
										<!-- 跳转到widgetController下的edit方法 -->
										<!--  	<li><a href="javascript:void(0)">Hide</a></li> -->
										<!--  	<li><a href="javascript:void(0)">Share</a></li> -->
										<li><a ng-href="/widget/{{widget.id}}/delete">删除 </a></li>
										<!-- 跳转到widgetController下的delete方法 -->
									</ul>
								</div> <a ng-href="/widget/{{widget.id}}/">
									<div class="widget-image">
										<img ng-src="{{widget.thumbnail+'?v='+time()}}"
											ng-if="widget.thumbnail!=null">
										<h4>{{widget.name}}</h4>
									</div>
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/common/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="/js/common/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="/js/common/underscore-min.js"></script>
	<script type="text/javascript"
		src="/js/common/underscore.string.min.js"></script>
	<script type="text/javascript" src="/js/common/angular.js"></script>
	<script type="text/javascript" src="/js/common/angular-animate.js"></script>
	<script type="text/javascript" src="/js/common/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/common/ui-bootstrap.js"></script>
	<script type="text/javascript" src="/js/common/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/js/common/bootstrap.min.js"></script>
	<div layout:fragment="script">
		<script type="text/javascript" src="/js/common/post_wrapper.js"></script>
		<script type="text/javascript" src="/js/dist/view/app.js"></script>
		<script>
		_.mixin(s.exports());
		$(function() {
			var nice = $(".scroller").niceScroll({
				cursorcolor : "#999"
			});
		})
		angular.element(document).ready(
				function() {
					angular.bootstrap(document.getElementById("container"),
							[ 'dashboard' ]);
				})
	</script>

	</div>
</body>
</html>