<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base">
<head>
<div layout:fragment="style">
	<link type="text/css" rel="stylesheet"
		href="/css/dist/view/view.min.css">
</div>
</head>
<body>
	<div layout:fragment="content">
		<div class="main">
			<div class="main-tab-content">
				<div id="container" ng-controller="scrollController">
					<x-widget-container component="component"></x-widget-container>


					<div class="scroll-controller">
						<ul>
							<li id="scroll-first"><a href="javascript:void(0)"
								ng-click="first()"> <span
									class="glyphicon glyphicon-step-backward"></span>
							</a></li>
							<li id="scroll-prev"><a href="javascript:void(0)"
								ng-click="prev()"> <span
									class="glyphicon glyphicon-backward"></span>
							</a></li>
							<li id="scroll-play"><a href="javascript:void(0)"
								ng-click="play_pause()"> <span
									class="glyphicon glyphicon-pause"></span>
							</a></li>
							<li id="scroll-next"><a href="javascript:void(0)"
								ng-click="next()"> <span class="glyphicon glyphicon-forward"></span>
							</a></li>
							<li id="scroll-last"><a href="javascript:void(0)"
								ng-click="last()"> <span
									class="glyphicon glyphicon-step-forward"></span>
							</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script type="text/javascript" src="/js/common/post_wrapper.js"></script>
		<script type="text/javascript" src="/js/dist/view/app.js"></script>
		<script>
        _.mixin(s.exports());
        angular.element(document).ready(
                function() {
                    angular.bootstrap(document.getElementById("container"),
                            [ 'dashboard' ]);
                })
    </script>
	</div>
</body>
</html>
