@import '../../common/variables.less';
.main {
	margin: 10px;
	font-family: "微软雅黑";
	position: absolute;
	left: 0;
	right: 0;
	top: 35px;
	bottom: 0;
}

.loading-spinner {
	position: absolute;
	left: 50%;
}

.sk-fading-circle {
	width: 100px;
	height: 100px;
	margin-left: -50px;
	.sk-circle:before {
		background-color: #666;
	}
}

.add-widget-btn {
	display: inline-block;
	color: #5d5d5d;
	border: 0 none;
	background: transparent;
	cursor: pointer;
}
.setup-btn {
	display: inline-block;
}

.sk-three-bounce {
	margin-left: -40px;
	.sk-child {
		background-color: #aaa;
		width: 15px;
		height: 15px;
	}
}

.dashboard {
	height: 100%;
	.main-tab-content {
		height: 100%;
		.board-ctrl {
			margin: 0 5px;
			ul li {
				display: inline-block;
				a {
					display: block;
					font-weight: bold;
					margin-right: 2px;
					color: #575757;
					line-height: 28px;
					position: relative;
					span {
						margin-right: 5px;
					}

					&.active {
						background: linear-gradient(#f2f2f2, #aeaeae);
						&:before , &:after {
							content: ' ';
							width: 1px;
							height: 100%;
							background: linear-gradient(#f5f5f5, #4e4e4e);
							position: absolute;
							top: 0;
						}

						&:before {
							left: 0;
						}

						&:after {
							right: 0;
						}
					}

					div {
						padding: 0 10px;
					}
				}
			}
		}
	}
}

.panel-bg-1 {
	background-image: url('/static/img/panel-b-back.png');
	background-color: #5b5b5b;
}

.panel-bg-2 {
	background-color: #4c4c4c;
	background-image: url('/static/img/panel-c-back.png');
}

.layout-grid-table-wrapper {
	border: 8px solid transparent;
}

.template-active .layout-grid-table-wrapper {
	border-color: #2c6285;
	overflow: hidden;
}

.layout-columns-number {
	height: 44px;
	text-align: center;
	font-size: 2.5em;
}

.layout-custom-grid {
	padding: 0 8px;
	cursor: pointer;
	.layout-grid-table {
		border-spacing: 3px;
		border-collapse: separate;
		display: table;
		width: 100%;
		height: 100%;
		ul {
			display: table-row;
			li {
				display: table-cell;
				padding: 20px 2px;
				border: 2px solid #c5c5c5;
			}
		}
	}
}

.layout-custom-ctrl {
	margin: 8px 0 0 5px;
	text-align: center;
	.layout-custom-ctrl-input {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		.spinner {
			width: 67px;
			input {
				text-align: right;
				border-radius: 0;
				padding: 3px 12px;
				height: 30px;
			}

			button {
				border-radius: 0;
				padding: 7px;
				width: 25px;
				background: linear-gradient(#f5f5f5, #e4e4e4);
			}
		}
	}
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 7px;
}

.template-active {
	background-color: #2c6285;
	border: solid 1px #82acc7;
	color: #fff ! important;
}

.layout-template {
	.layout-grid-table {
		padding: 8px;
		ul {
			li {
				display: inline-block;
				margin-right: 14px;
				padding: 6px 8px;
				a {
					display: block;
					background: url('/static/img/i-layout-sprite.png');
					border: solid 1px transparent;
					height: 44px;
					width: 52px;
					&.style_4 {
						background-position: 0 50%;
					}

					&.style_1 {
						background-position: -275px 50%;
					}

					&.style_2 {
						background-position: -220px 50%;
					}

					&.style_3 {
						background-position: -660px 50%;
					}
				}
			}
		}
	}
}

.layout-paint {
	.layout-custom-grid {
		font-size: 3.5em;
		text-align: center;
		span {
			padding: 8px;
			text-shadow: 0 0 5px #424242;
			color: #c5c5c5;
		}
	}
}

.upload-file {
	overflow: hidden;
	display: inline-block;
	position: relative;
	color: #9ED0D8;
	font-weight: bold;
	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 3px 5px;
		cursor: pointer;
		color: inherit;
	}

	input[type='file'] {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 10em;
		cursor: pointer;
	}

	&:hover {
		color: #2DCBE4;
	}
}

.widget-container {
	margin-bottom: 15px;
	position: relative;
}

.widget-control {
	position: absolute;
	top: 5px;
	right: 20px;
	z-index: 1;
	color: #444;
	font-size: 1.2em;
	.dropdown-menu {
		right: 0;
		left: auto;
	}
}

.widget-image {
	position: relative;
	height: 300px;
	border: 1px solid #8e979e;
	cursor: pointer;
	overflow: hidden;
	box-shadow:1px 1px 1px 1px #d0d0d0;
	&:hover {
		img {
			transform: scale(1.05) translateZ(0);
		}
	}

	img {
		transition: transform .3s ease-in-out;
		width: 100%;
	}

	h4 {
		position: absolute;
		overflow: hidden;
		bottom: 0;
		left: -1px;
		right: -1px;
		margin: 0;
		padding: 15px;
		background: linear-gradient(#ffffff,#dedede);
		color: #191919;
		font-weight: bold;
		text-shadow: 1px 1px 1px #fff;
		border-top: 1px solid #cecece;

	}
}

.widget {
	.widget-style;
	text-align: left;
	position: relative;
	height: 100%;
	min-height: 270px;
	.widget-header {
		width: 100%;
		color: #666666;
		font-weight: bold;
		padding: 5px;
		max-height: 35px;
		position: relative;
		.widget-title {
			float: left;
			cursor: text;
		}

		.widget-ctrls {
			float: right;
			.dropdown {
				button {
					border: 0 none;
					background: transparent;
					font-size: 1.3em;
					color: #d7d7d7;
					overflow: hidden;
					outline: none;
				}
			}

			.dropdown-menu {
				border-radius: 0;
				border: 1px solid #b2b2b2;
				padding: 4px;
				box-shadow: 0 3px 3px rgba(0, 0, 0, .175);
				li a {
					padding: 7px;
				}

				.divider {
					margin: 0;
				}
			}
		}
	}

	.widget-content {
		table {
			table-layout: fixed;
			width: 100%;
			td {
				border: 1px dashed #aaa;
			}
		}
	}
}

.widget-canvas-container {
	height: 100%;
	overflow: auto;
	.widget-canvas-inner {
		position: relative;
		cursor: move;
		width: 100%;
		height: 100%;
		> ul {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
			> li {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
			}
		}

		.widget-bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}
}

.datasource-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
}

.database-table {
	table-layout: fixed;
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	tbody {
		tr {
			cursor: pointer;
			transition: background .2s ease-in-out;
			&:hover {
				background: #dedede;
			}
		}
	}

	tr {
		th , td {
			padding: 20px;
		}

		th {
			background: linear-gradient(#fff, #e6e6e6);
			border-bottom: 1px solid #bdbdbd;
		}
	}
}

.new-datasource a {
	margin: 10px 0;
	display: inline-block;
	padding: 10px;
	background: linear-gradient(#fff, #e4e4e4);
	border: 1px solid #d8d8d8;
}

.pan-navigator {
	position:absolute;
	left:10px;
	top:10px;
	z-index:10;
	li {
		display:inline-block;
		margin-right:5px;
		vertical-align:top;
		a {
			display: block;
			background: #5d5d5d;
			border-radius: 50%;
			color: #ffffff;
			text-decoration: none;
			position: relative;
			padding: 0 5px;
			width: 25px;
			height: 25px;
			line-height: 1.8;
			&:hover  {
				background: linear-gradient(#ffffff,#e2e2e2);
				border: 1px solid #afafaf;
				color: #444;
			}
			&.upload-image {
				overflow:hidden;
				input {
					font-size:10em;
					position:absolute;
					top:0;
					right:0;
					opacity:0;
					filter:opacity(0);

				}
			}
		}
	}
}
.capture {
	overflow:hidden;
	.widget {
		overflow:hidden;
		margin:0;
		.widget-canvas-container {
			overflow:hidden;
		}
	}
}
.canvas-layout {
	.main-tab-content {
		height: 100%;
		#container {
			position:absolute;
			top:15px;
			bottom:15px;
			left:0;
			right:0;
			.widget-content {
				height: 100%;
				.widget-canvas-content {
					height: 100%;
				}
			}
		}
	}
}
.new-datasource-list {
	padding:50px;
	background: #f7f7f7;
	border: 1px solid #a9a9a9;

	li {
		margin-bottom:20px;

		a {
			display:block;
			padding:20px;
			background: linear-gradient(#fbfbfb,#e2e2e2);
			border: 1px solid #ccc;
			text-decoration: none;
			&:hover {
				background:#fff;
			}
		}

		span {
			font-size: 2em;
			margin: 20px;
		}
		img {
			min-width: 50px;
		}
	}
}

.new-datasource-form {
	background:#f7f7f7;
	border:1px solid #ccc;
	h4 {
		padding: 20px;
		background: linear-gradient(#fff,#eaeaea);
		border-bottom: 1px solid #ccc;
		margin: 0;
		color:#999;
	}
	form {
		padding:20px;
	}
}
.scroll-controller {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 5px;color:#fff;
  background: #5f5f5f;
	ul
	{
		text-align:center;
		li {
			display:inline-block;
			margin-right: 10px;
		}
	}
}
