@import 'variables.less';

ul, li {
    margin: 0;
    padding: 0;
    list-style:none;
}
.clear {
    clear:both;
}
.oh {
    overflow:hidden;
}
.oa {
    overflow:auto;
}
.tc {
    text-align:center;
}
.tl {
    text-align:left;
}
.tr {
    text-align:right;
}
a {
    color:inherit;
}

.left, .fl {
    float:left;
}
.right, .fr {
    float:right;
}

.clear {
    clear:both;
}
.vh {
  visibility:hidden;
}
.vv {
  visibility: normal;
}

.pr {
    right: 0;
}
.ib {
    display:inline-block;
}
.ibl {
    li {
        display:inline-block;
    }
}
.pl {
    left: 0;

}
.pt {
    top:0;
}
.pb {
    bottom:0;
}
.e-resize {
    cursor:e-resize;
}
.s-resize {
    cursor:s-resize;
}

.selectable {
    cursor: pointer;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.transparent {
    background: transparent !important;
}

body::-webkit-scrollbar-corner {
  background:#f3f3f3;
}

body::-webkit-scrollbar-thumb {
  background:#dbdbdb;
}

body::-webkit-scrollbar-track {
  background:#f3f3f3;
}

html,body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

.bold {
  font-weight:bold !important;
}

[ng\:cloak],[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  display:none ! important;
}

.dropdown{
    display:inline-block;
    button {
    border: 0 none;
    background:transparent;
    padding: 0;
    color:inherit;

    span {
        line-height: 1.3;
        font-size: 0.8em;
    }
  }

  .dropdown-menu {
    border-radius: 0px;
    border:1px solid #b2b2b2;
    padding:4px;
    right: -8px;
    box-shadow: 0 3px 3px rgba(0,0,0,.175);
    li a {
       margin:2px;
    }
    .divider {
        margin: 0;
    }
  }
}

.main-tab-header {
    margin-bottom: -1px;
    >ul>li {
      display:inline-block;
      margin-left: 6px;
      font-weight:bold;
      vertical-align:bottom;
      padding: 6px 8px;
      cursor:pointer;
      position: relative;
      max-width: 300px;
      .tab-item-border;
      .tab-item-background;
      a {
          color:#474747;
          text-shadow: 0 0 1px #fff;
          &:hover {
              text-decoration:none;
          }
      }
    }

}


.main-tab-content {
    .tab-content;
    padding: 20px 5px;
}



.management-page {
  margin: @normal-toplevel-margin;

  .main-pane {
    padding: @normal-padding;

    .headerbar {
      border: @normal-border;
      border-bottom: none;
      padding: (@normal-padding / 4) @normal-padding;
      background: @header-top-bar-background;

      .tools {
        display: block;
        float: right;
        padding: 0.5em 0;
        >* {
          height: 2em;
        }
      }

      .title {
        height: 3em;

        .back-button {
          float: left;
          height: 100%;
          position: relative;
          width: 40px;
          padding-right: 11px;

          a {
            position: absolute;
            height: 29px;
            top: 6.5px;
          }
        }

        h1 {
          margin: 0px;
          line-height: 1.5;
        }
      }
    }

    .main-pane-content {
      border: @normal-border;
      background-color: white;
      padding: @normal-padding;

      .main-pane-section {
        padding: @normal-padding;
        h1, h2, h3, h4, h5, h6 {
          margin-top: 0;
        }

        .main-pane-section-title {
          margin-bottom: @normal-margin;
        }

        .main-pane-section-description {
          margin-bottom: @normal-margin;
        }
      }

      a.pick-box {
        display: block;
        border: @normal-border;
        background-color: @normal-form-background;
        padding: @normal-padding;
        margin: @normal-margin;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
          color: inherit;
        }

        &:hover,
        &:active {
          border: @active-border;
          background-color: @active-form-background;
          h1, h2, h3, h4, h5, h6 {
            text-decoration: underline;
          }
        }
      }

      .footerbar {
        .tools {
          float: right;
        }
      }
    }
  }
}

.modal-open {
    .header {
        -o-filter:blur(3px);
        -moz-filter:blur(3px);
        -webkit-filter:blur(3px);
        filter:blur(3px);
    }

    .main, .edit-main {
        -o-filter:blur(3px);
        -moz-filter:blur(3px);
        -webkit-filter:blur(3px);
        filter:blur(3px);
    }
}
.modal-content {
    border-radius: 0;
    background: #f2f2f2;
    border: 1px solid #aaa;
}
.modal-backdrop {
    background-color:#f2f2f2;
}
