.widget-components{
    padding: 5px;
    height:100%;
    position:relative;
    .chart-container {
        width:100%;
        height:100%;
    }
    .handle {
        position:absolute;
        top: 0;
        cursor:move;
        display:none;
        background:#25A8E0;
        color:#fff;
        font-size:xx-small;
        right: 0;
        line-height: 1;
        padding:2px;
    }

    .resize-handle {
        position:absolute;
        bottom:1px;
        cursor:se-resize;
        right:1px;
        display:none;
        width:0;
        height:0;
        border-style: solid;
        border-width: 0 0 16px 16px;
        border-color: transparent;
        border-bottom-color:#eee;
    }
    &.separator-component {
        .separator {
            text-align:center;
        }
        &.separator-horizontal {
            width: 100%;
            .separator-sign {
                border-bottom: 1px solid gray;
            }
        }
        &.separator-vertical {
            height: 100%;
            .separator {
                height: 100%;
                 .separator-sign {
                    height: 100%;
                    border-right: 1px solid gray;
                    width: 1px;
                    margin: auto;
                }
            }

        }
    }
    &.table-component {
        text-align: center;
        .editing-component{
            >ul {
                height: 100%;
                >li {
                    height:100%;
                }
            }
        }

        .table-body {
            display:table;
            width: 100%;
            >ul {
                display:table-row;
                >li {
                    display:table-cell;
                    border:1px solid #ddd;
                    border-left: 0 none;
                    height:100%;
                    vertical-align:top;
                    min-width:50px;
                    &:first-child {
                        border-left: 1px solid #ddd;
                    }
                }
            }

        }
    }

    &.html-component {
        padding:0px;
    }
    &.label-component {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display:table;
        width: 100%;
        label {
            font-weight:inherit;
            margin-bottom: 0;
            padding: 4px;
            display:table-cell;
            vertical-align: middle;
            &:after {
                display:inline-block;
                content:" ";
            }
        }
    }
    &.table-component {
        text-align:center;
        table {
            width: 100%;
            border-collapse:collapse;
            border-spacing:0;
            table-layout:fixed;
            th, td {
                min-height: 30px;
                overflow:hidden;
            }
            th {
                text-align:center;
                background:#f2f2f2;
                border: 1px solid #D0CFCF;
                padding: 5px;
            }
            tr{
                td {
                    border: 1px dashed #ddd;
                    min-width: 120px;
                    height: 40px;
                    padding:4px;
                    vertical-align:top;
                }
            }


        }
    }
    &.column-component {
        padding: 0px;
        height: 100%;
        min-height:60px;
        .column-title {
            background:#eaeaea;
            font-weight:bold;
            padding:4px;
            height:auto;
            margin-bottom:10px;
        }

        .column-data {
            height: 2em;
            overflow:hidden;
            padding: 0 10px;
        }

        .first-row-header {
            >li{
                &:first-child {
                    .column-data {
                        .column-title
                    }
                }
            }
        }
    }
    &.value-pair-component {
        color:#444;
        .value {
            padding: 10px;
            padding-top:0px;
            font-size:3em;
            font-style:italic;
        }

        .label-component:first-child {
            margin-bottom:-10px;
        }
        .key {
            text-align: left;
            padding:10px;
            display: block;
            padding-bottom: 0px;
            font-size: 0.8em;
        }
    }
}


 .height-small {
        height: 150px !important;
    }

    .height-medium {
        height: 250px !important;
    }

    .height-large {
        height: 350px !important;
    }
