@import 'variables.less';

@font-face {
	font-family: 'Lobster';
	src:local('Lobster'), local('Lobster-Regular'), url('/css/fonts/Lobster-Regular.ttf');
}

.font-lobster {
	font-family: 'Lobster', cursive;
}


.header-top-bar-style {
    background:@header-top-bar-background;
    border:@header-top-bar-border;
    border-top: 0 none;
    font-size: 0.85em;
    height: @header-top-bar-height;
    color: #3A474E;
    font-weight:bold;
}

.header-menu-active-style {
    background: linear-gradient(#777,#888);
    color: #fff;
    box-shadow: 2px 2px 2px #555 inset;
    text-shadow: 1px 1px 2px #242424;
    border:1px solid #fff;
}


#logo {
	.font-lobster;
    color: #343E41;
    font-size: 1.6em;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
}


.header {
  .header-top-bar-style;

  .menu {
     padding: 3px;
     >ul {
        >li {
          display:inline-block;
          >a {
            padding:3px 10px;
            display:block;
            margin-right: 10px;
            border-radius:6px;

            &.active {
              .header-menu-active-style;
            }
          }
        }
     }
  }
  .ctrl {
    margin-right: 10px;
    margin-top: 8px;
    >ul{
      >li {
        &:first-child {
          border-left: 0 none;
        }
         padding:0 7px;
         min-width: 40px;
         text-align:center;
         border-left: 1px solid #c8c8c8;
         display:inline-block;

      }
    }
  }
}

.header-container {
  position: relative;
}
