@media ( min-width : 1200px) {
	.center-popup {
		width: 720px;
		height: 410px;
		margin-left: -360px;
		margin-top: -205px;
	}
}

@media ( min-width : 992px) {
	.center-pop {
		width: 480px;
		height: 280px;
		margin-left: -240px;
		margin-top: -140px;
	}
}

@media ( min-width : 768px) {
	.center-top {
		width: 304px;
		height: 180px;
		margin-left: -152px;
		margin-top: -90px;
	}
}