@normal-border: 1px solid #c8c8c8;
@normal-margin: 15px;
@normal-toplevel-margin: 30px;
@normal-padding: 12px;
@normal-form-background: #fafafa;
@active-border: 1px solid #91adc2;
@active-form-background: #e5f3fc;

@header-top-bar-height: 37px;
@header-top-bar-background:linear-gradient(to bottom,#ffffff,#f9f9f9 90%,#e8e8e8);
@header-top-bar-border: @normal-border;
@logo-background: #791F10;

@tab-item-background-color: #e8e8e8;
@tab-item-background-color-active:
linear-gradient(to bottom, #fafafa, #f9f9f9, 30%, #f2f2f2);

@edit-properties-panel-color:#f7f7f7;

.tab-item-border() {
    border: 1px solid #D9D9D9;
    border-bottom-color:#CFD0D1;
}

.tab-item-background() {
    background:@tab-item-background-color;
    border-bottom-color:#CFD0D1;

    &.active {
        border-bottom: 1px solid #f2f2f2;
        background: @tab-item-background-color-active
    }
}

.tab-content() {
    background-color: #F2F2F2;
    border: 1px solid #CFD0D1;
}

.widget-style() {
    background-color: #FEFEFE;
    border: 1px solid #C7C7C9;
    margin:0 15px;
    .widget-header {
        border-bottom: 1px solid #e0e0e0;
        background: linear-gradient(#fff, #f3f3f3);
    }
}
