.visualizer {
    overflow: auto;
    height: 300px;
    width: auto;
    background-color: #bbbbbb;
    border: solid 1px #898989;
}
.data-vis-table {
    border-collapse: collapse;
    background-color: #fff;
    tr {
        &.row-header-index {
            th{
                background-color: #F1F3F2;
                text-align: center;
            }
        }
        td {
            padding-right: 40px;
            &:first-child {
                width: 40px;
                padding-right: 5px;
                font-weight: bold;
                background-color: #f1f3f2;
            }

            &.selected {
                background-color: #def2ff;
            }
        }
        td, th {
            border: 1px solid #D6D6D6;
            padding: 4px 5px;
            font-family: arial;
            white-space: nowrap;
            font-size: 1em;
            cursor: pointer;
        }
    }
}