<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base">
<head>

<div layout:fragment="style">
	<link type="text/css" rel="stylesheet"
		href="/css/dist/view/view.min.css">
</div>
</head>
<body>
	<div layout:fragment="content">
		<div class="main container-fluid" id="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form class="form-narrow form-horizontal" action="#" method="post"
						th:action="@{/authenticate}">
						<th:block th:if="${param.error != null}">
							<div
								th:replace="alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
						</th:block>
						<fieldset>
							<legend>登入 (演示账号: user/demo)</legend>
							<div class="form-group">
								<label for="inputEmail" class="col-lg-2 control-label">用户名
								</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputEmail"
										placeholder="Email" name="username" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-lg-2 control-label">密码
								</label>
								<div class="col-lg-10">
									<input type="password" class="form-control" id="inputPassword"
										placeholder="Password" name="password" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<div class="checkbox">
										<label> <input type="checkbox"
											name="_spring_security_remember_me" /> 记住身份
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-default">登入</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<p>
										<a href="signup" th:href="@{/signup}">申请自己的用户名和密码</a>
									</p>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
