﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base">
<head>
<meta charset="utf-8">
<div layout:fragment="style">
	<link type="text/css" rel="stylesheet"
		href="/css/dist/view/view.min.css">
</div>
</head>
<body>
	<div layout:fragment="newBtn">
		<a class="add-widget-btn" href="/widget/new/"> <span
			class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
	<div layout:fragment="content">
		<div class="main container-fluid" id="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<!-- post方式提交到AuthController里的signup方法 -->
					<form class="form-narrow form-horizontal" method="post"
						th:action="@{/signup}" th:object="${signupForm}">
						<!--/* Show general error message when form contains errors */-->
						<th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
							<div
								th:replace="alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
						</th:block>
						<fieldset>
							<legend>注册账号 </legend>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label for="email" class="col-lg-2 control-label">邮件地址用作用户名</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="email"
										placeholder="Email address" th:field="*{email}" /> <span
										class="help-block" th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}">邮件地址不规范 </span>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('password')}? 'has-error'">
								<label for="password" class="col-lg-2 control-label">密码
								</label>
								<div class="col-lg-10">
									<input type="password" class="form-control" id="password"
										placeholder="Password" th:field="*{password}" /> <span
										class="help-block" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">密码不规范 </span>
								</div>
							</div>
							<div class="form-group"
								th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
								<label for="password" class="col-lg-2 control-label">密码确认
								</label>
								<div class="col-lg-10">
									<input type="password" class="form-control"
										id="comfirmpassword" placeholder="Confirm Password"
										th:field="*{confirmPassword}" /> <span class="help-block"
										th:if="${#fields.hasErrors('confirmPassword')}"
										th:errors="*{confirmPassword}">密码不正确</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-default">提交</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<p>
										已有账号，直接<a href="signin" th:href="@{/signin}">登入</a>
									</p>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
