<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='Alignment' class="col-sm-2 control-label">{{title}}
				: </label>
			<div class="col-sm-5">
				<ul class='ibl properties-selection properties-option-list'>
					<li
						ng-class="{'selected':align_manager.style['text-align']=='left'}"><a
						href="#" ng-click="change_align({'text-align':'left'})"><i
							class="fa fa-align-left"></i></a></li>
					<li
						ng-class="{'selected':align_manager.style['text-align']=='center'}"><a
						href="#" ng-click="change_align({'text-align':'center'})"><i
							class="fa fa-align-center"></i></a></li>
					<li
						ng-class="{'selected':align_manager.style['text-align']=='right'}"><a
						href="#" ng-click="change_align({'text-align':'right'})"><i
							class="fa fa-align-right"></i></a></li>
				</ul>
			</div>

		</div>
	</div>
</div>