<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='autowidth' class="col-sm-2 control-label">{{title}}
				: </label>

			<div class="col-sm-5">
				<div class="input-group">
					<a class="properties-selection togglebtn" href="#"
						ng-click="change_width_auto()"><i class="fa"
						ng-class="{'fa-toggle-off':width_manager.style['display']=='inline-block','fa-toggle-on':width_manager.style['display']=='block'}"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>