<div>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="height" class="col-sm-2 control-label">边框 : </label>
			<div class="col-sm-2">
				<div class="input-group">
					<input type="text" class="form-control small-input px-input"
						ng-model="css['border-width']" style="border-radius: 0;" integer
						model-suffix="px" />
					<div class="input-group-addon">px</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="input-group">
					<select class="form-control" ng-model="css['border-style']">
						<option value="solid">实线</option>
						<option value="dotted">虚线</option>
						<option value="dashed">折线</option>
						<select>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="input-group properties-selection colorpalette">
					<a colorpicker colorpicker-position="top"
						ng-model="css['border-color']"
						style="background: {{css['border-color']"></a> <input type="text"
						ng-model="css['border-color']" />
				</div>
			</div>
		</div>
	</form>
</div>