<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="属性">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for='colspan' class="col-sm-2 control-label">列合并: </label>
                            <div class="col-sm-2">
                                <div class="input-group spinner">
                                    <input type="text" class="form-control" ng-model="component.width" readonly="readonly">
                                    <div class="input-group-btn-vertical">
                                      <button class="btn btn-default" type="button" ng-click="increase_colspan()"><i class="fa fa-caret-up"></i></button>
                                      <button class="btn btn-default" type="button" ng-click="decrease_colspan()"><i class="fa fa-caret-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for='colspan' class="col-sm-2 control-label">行合并: </label>
                            <div class="col-sm-2">
                                <div class="input-group spinner">
                                    <input type="text" class="form-control" ng-model="component.height" readonly="readonly">
                                    <div class="input-group-btn-vertical">
                                      <button class="btn btn-default" type="button" ng-click="increase_rowspan()"><i class="fa fa-caret-up"></i></button>
                                      <button class="btn btn-default" type="button" ng-click="decrease_rowspan()"><i class="fa fa-caret-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                    </div>
                </div>


            </pane>
        </tabs>
    </div> 
</div>