<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="数据">
                <div class="properties-content">

                    <!-- <div>
                        <label style="font-weight:bold;font-size:1.2em;margin-bottom: 20px;">Input Text Or Number : <label>
                    </div>
                    <div>
                        <input type="text" ng-model="component.txt"/>
                    </div> -->

                    <x-data-properties component="component" default_option="value"></x-data-properties>
                </div>
            </pane>
            <pane title="属性">
                 <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                </div>

            </pane>
        </tabs>
    </div> 
</div>