<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='fontstyle' class="col-sm-2 control-label">{{title}}
				: </label>
			<div class="col-sm-6">
				<div class="input-group properties-selection colorpalette">
					<span ng-show="option==0||option==2"> <a
						colorpicker="{{style}}" colorpicker-position="top"
						ng-model="fcolor" style="color: {{fcolor" title='font color'>
							<span class="glyphicon glyphicon-text-color"></span>
					</a> <input type="text" ng-model="fcolor"
						ng-class="{'rgba-input':style=='rgba'}" />
					</span> <span ng-show="option==1||option==2"> <a
						colorpicker="{{style}}" colorpicker-position="top"
						ng-model="bcolor" style="color: {{bcolor" title='background color'>
							<span class="glyphicon glyphicon-text-background"></span>
					</a> <input type="text" ng-model="bcolor"
						ng-class="{'rgba-input':style=='rgba'}" />
					</span>
				</div>
			</div>
		</div>
	</div>
</div>