<div>
    <div class="properties column-properties">
        <tabs>

            <pane title="数据">
                <div class="properties-content">
                    <x-data-properties component="component" default-option="data"></x-data-properties>
                </div>
            </pane>

            <pane title="属性">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="columnName" class="col-sm-2 control-label">列名字 : </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control small-input" ng-model="component.title"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </pane>
        </tabs>
    </div> 
</div>