<div class="conditional-formatting">
    <div class="container-fluid conditional-formatting-container" ng-repeat="condition in component.conditions">
        <div class="close" ng-click="delete_condition($index)"><i class="fa fa-times"></i></div>
        <div class="row if-condition">

            <div class="add-if">
                <button class="btn-apply" ng-click="add_if(condition)">+</button>
            </div>
            <ul class="col-md-12">
                <li ng-repeat="_if in condition._ifs" class="col-sm-12">
                    <div class="col-md-2">
                        <div class="conditional-formatting__left">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" ng-if="$index==0">If </label>
                                    <label class="control-label col-sm-2" ng-if="$index>=1">And </label>
                                    <div class="col-md-4" style="margin-top:7px;">{{component.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="conditional-formatting__operator">
                                <select class="form-control" ng-model="_if._if" ng-options="selectItem.id as selectItem.name for selectItem in if_options" >
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="conditional-formatting__right">
                            <input type="text" class="form-control" ng-model = "_if._value"/>
                            <div class="remove_if" ng-click="remove_if(condition, $index)">
                                <i class="fa fa-close"></i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col-md-2">
                Then
            </div>

            <div class="col-md-4">
                <div class="conditional-formatting__action">
                    <select class='form-control'  ng-model="condition._then" ng-options="selectItem.id as selectItem.name for selectItem in actions">
                        <option value="">选项</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="conditional-formatting__value">

                    <ul>

                        <li ng-if="condition._then==0" class="colorpalette">
                            <a colorpicker="{{style}}" colorpicker-position="top" ng-model="condition._then_value" style="color:{{condition._then_value}}" title='改背景颜色'>
                                <span class="glyphicon glyphicon-text-background"></span>
                            </a>
                            <input type="text" ng-model="condition._then_value" ng-class="{'rgba-input':style=='rgba'}"/>
                        </li>

                        <li ng-if="condition._then==1">
                            <x-color-properties component="component" option="1" title='闪'></x-color-properties>
                        </li>

                        <li ng-if="condition._then==2">
                            <label>发送邮件 </label>
                            <input type="text"/>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
        <div class="conditional-formatting-add">
            <button class="btn-apply" ng-click="add_condition()">+</button>
        </div>
</div>
