<div class="data-properties">
    <div class='formular' ng-show="component.data.expr!=null && component.data.expr!=''">
        <ul>
            <li>{{component.data.expr}}</li>
        </ul>
    </div>
    <div class='options'>
        <ul>
            <li><a href="#" class="data-option" ng-class="{'active':option=='data'}" ng-click="toggle_option()"><i class="fa fa-table"></i></a></li>
            <li><a href="#" class="value-option" ng-class="{'active':option=='value'}" ng-click="toggle_option()"><i class="fa fa-i-cursor"></i></a></li>
        </ul>
    </div>
    <div class="data-panel" ng-show="option=='data'">
    <!-- <datasource-manager [as-chooser]='true' (choose)='choose($event)'></datasource-manager> -->
       <x-data-component component="component"></x-data-component> 
    </div>
    <div class="value-panel" ng-show="option=='value'">
        <div class="row">
            <div class="form-horizontal">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2">输入值: </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="value_expr" class="form-control"/>
                        </div>
                        <div class="col-sm-2">
                            <button class="form-control btn-apply" ng-click="apply_value()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>