<div>
    <div class="data-panel">
        <!-- <datasource-manager [as-chooser]='true' (choose)='choose($event)'></datasource-manager> -->
        <div ng-show="datasources.length==0" class="add-datasource-field">
             <div style="margin-bottom:20px;font-size:1.5em;"></div>
             <button class="btn-apply" ng-click="add_datasource()">添加数据源 </button>
        </div>
        <div ng-show="datasources.length>0">

            <div class="data-panel-container">
                <ul>
                    <li ng-repeat="value in datasources" ng-show="current_datasource_uid == value.uid">
                       <x-data-element datasource="value" component="component"></x-data-element>
                    </li>
                </ul>
            </div>
            <div class="data-panel-list">
                <ul>
                    <li ng-repeat="value in datasources">
                        <a href="#" ng-click="toggle_datasource(value.uid)" ng-class="{'active':current_datasource_uid == value.uid}">{{value.name}}</a>
                    </li>
                    <li>
                        <a href="#" ng-click="add_datasource()" class="add-datasource"><i class='fa fa-plus'></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>