<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='FontSize' class="col-sm-2 control-label">{{title}}
				: </label>
			<div class="col-sm-5">
				<div class="input-group">
					<ul class="ibl properties-selection properties-option-list">
						<li
							ng-class="{'selected':font_manager.style['font-size']=='inherit'}"><a
							href="#" ng-click="change_font_size({'font-size':'inherit'})">S</a></li>
						<li
							ng-class="{'selected':font_manager.style['font-size']=='large'}"><a
							href="#" ng-click="change_font_size({'font-size':'large'})">M</li>
						<li
							ng-class="{'selected':font_manager.style['font-size']=='x-large'}"><a
							href="#" ng-click="change_font_size({'font-size':'x-large'})">L</a></li>
						<li
							ng-class="{'selected':font_manager.style['font-size']=='xx-large'}"><a
							href="#" ng-click="change_font_size({'font-size':'xx-large'})">XL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>