<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='fontstyle' class="col-sm-2 control-label">{{title}}
				: </label>
			<div class="col-sm-5">
				<div class="input-group">
					<ul class="ibl properties-selection properties-option-list">
						<li
							ng-class="{'selected':font_manager.style['font-weight']=='bold'}"><a
							href="#" ng-click="change_font_style({'font-weight':'bold'})"><i
								class="fa fa-bold"></i></a></li>
						<li
							ng-class="{'selected':font_manager.style['font-style']=='italic'}"><a
							href="#" ng-click="change_font_style({'font-style':'italic'})"><i
								class="fa fa-italic"></i></li>
						<li
							ng-class="{'selected':font_manager.style['text-decoration']=='underline'}"><a
							href="#"
							ng-click="change_font_style({'text-decoration':'underline'})"><i
								class="fa fa-underline"></i></a></li>
						<li
							ng-class="{'selected':font_manager.style['text-decoration']=='line-through'}"><a
							href="#"
							ng-click="change_font_style({'text-decoration':'line-through'})"><i
								class="fa fa-strikethrough"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>