<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="Data">
                <div class="properties-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Frame URL : </label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-model="component.url" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="form-control btn-apply" ng-click="change_url()">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </pane>
            <pane title="Properties">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="height" class="col-sm-2 control-label">高度 : </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <select class='form-control' ng-model="component.height">
                                                <option value="Small">小</option>
                                                <option value="Medium">中</option>
                                                <option value="Large">大</option>
                                                <option value="Custom">自定义</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-2" ng-show="component.height == 'Custom'">
                                        <div class="input-group">
                                           <input type="text" class="form-control small-input px-input" ng-model="component.custom_height" style="border-radius: 0;" integer/>
                                           <div class="input-group-addon">px</div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="form-group">
                                    <label for="overflow" class="col-sm-2 control-label">Overflow : </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                             <a class="properties-selection togglebtn" href="#" ng-click="change_overflow()"><i class="fa" ng-class="{'fa-toggle-off':component.overflow==1,'fa-toggle-on':component.overflow==0}"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="refresh" class="col-sm-2 control-label">Refresh</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <select class='form-control' ng-model="component.refresh" ng-options="selectItem.id as selectItem.name for selectItem in refresh_intervals">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="col-lg-6">
                            <x-border-properties component = 'component'></x-border-properties>
                        </div>
                        
                    </div>
                </div>
            </pane>
        </tabs>
    </div> 
</div>