<div>
    <div class="properties label-properties">
        <tabs>
        	<pane title="Data">
                <div class="properties-content">
                    <x-data-properties component="component" default_option="value"></x-data-properties>
                </div>
            </pane>
            <pane title="属性">
                 <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='title' class="col-sm-2 control-label">标题: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control small-input" ng-model="component.options.title"/>
                                        </div>
                                    </div>


                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <button class="form-control btn-apply" ng-click="apply_value()">Apply</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='title' class="col-sm-2 control-label">Max: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control small-input" ng-model="component.options.max"/>
                                        </div>

                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <button class="form-control btn-apply" ng-click="apply_value()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='title' class="col-sm-2 control-label">Min: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" class="form-control small-input" ng-model="component.options.min"/>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <button class="form-control btn-apply" ng-click="apply_value()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">

                            <div class="form-horizontal">
                                <x-color-properties component="component" option="1" title="Background" style="rgba" type="background" pure-css="{{backgroundCss}}"></x-color-properties>
                            </div>

                        </div>
                    </div>
                </div>

            </pane>
        </tabs>
    </div> 
</div>