<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="属性">
               <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">列: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group spinner">
                                            <input type="text" class="form-control" ng-model="component.cols" readonly="readonly">
                                            <div class="input-group-btn-vertical">
                                              <button class="btn btn-default" type="button" ng-click="increase_cols()"><i class="fa fa-caret-up"></i></button>
                                              <button class="btn btn-default" type="button" ng-click="decrease_cols()"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">行: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group spinner">
                                            <input type="text" class="form-control" ng-model="component.rows" readonly="readonly">
                                            <div class="input-group-btn-vertical">
                                              <button class="btn btn-default" type="button" ng-click="increase_rows()"><i class="fa fa-caret-up"></i></button>
                                              <button class="btn btn-default" type="button" ng-click="decrease_rows()"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
               </div>
            </pane>
        </tabs>
    </div> 
</div>