<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="Properties">
                <div class="properties-content">
                    <div class="row">
                        <div class='form-group'>
                            <div class="col-lg-6">
                                <label for='html_string' class='col-sm-2 control-label'>HTML Code</label>
                            </div>
                            <textarea class='form-control' rows='5' ng-model="component.html_string"></textarea>
                        </div>

                        <div class='col-lg-6'>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='height' class="col-sm-2 control-label">高度 : </label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <select class='form-control' ng-model="component.height">
                                                <option value="Auto">自动</option>
                                                <option value="Small">小</option>
                                                <option value="Medium">中</option>
                                                <option value="Large">大</option>
                                                <option value="Custom">自定义</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-2" ng-show="component.height == 'Custom'">
                                        <div class="input-group">
                                           <input type="text" class="form-control small-input px-input" ng-model="component.custom_height" style="border-radius: 0;" integer/>
                                           <div class="input-group-addon">px</div>
                                        </div>
                                    </div>
                                    <label for='scroll' style="padding-top: 10px;" class="col-sm-2 control-label">自动滚动 : </label>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                             <a class="properties-selection togglebtn" href="#" ng-click="change_overflow()"><i class="fa" ng-class="{'fa-toggle-off':component.overflow==1,'fa-toggle-on':component.overflow==0}"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </pane>
        </tabs>
    </div> 
</div>