<div>
	<div class="properties label-properties">
		<tabs> <pane title="Data">
		<div class="properties-content">
			<div class="row">
				<div class="form-horizontal">
					<div class="col-lg-6">
						<div class="form-group">
							<label class="control-label col-sm-2">Image URL : </label>
							<div class="col-sm-8">
								<input type="text" ng-model="component.url" class="form-control" />
							</div>
							<div class="col-sm-2">
								<button class="form-control btn-apply" ng-click="change_url()">Apply</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</pane> <pane title="Properties">
		<div class="properties-content">
			<div class="row">
				<div class="col-lg-6">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="height" class="col-sm-2 control-label">对齐 :
							</label>
							<div class="col-sm-5">
								<ul class='ibl properties-selection properties-option-list'>
									<li ng-class="{'selected':component.alignment_horizontal==0}"><a
										href="#" ng-click="component.alignment_horizontal=0"><i
											class="fa fa-align-center"></i></a></li>
									<li ng-class="{'selected':component.alignment_horizontal==1}"><a
										href="#" ng-click="component.alignment_horizontal=1"><i
											class="fa fa-align-right"></i></a></li>
									<li ng-class="{'selected':component.alignment_horizontal==2}"><a
										href="#" ng-click="component.alignment_horizontal=2"><i
											class="fa fa-align-left"></i></a></li>
								</ul>
							</div>



						</div>

						<div class="form-group">
							<label for="overflow" class="col-sm-2 control-label">高度
								: </label>
							<div class="col-sm-2">
								<div class="input-group">
									<select class='form-control' ng-model="component.height"
										ng-options="selectItem.id as selectItem.name for selectItem in height_options">
									</select>
								</div>
							</div>

							<div class="col-sm-2" ng-show="component.height == 'Custom'">
								<div class="input-group">
									<input type="text" class="form-control small-input px-input"
										ng-model="component.custom_height" style="border-radius: 0;"
										integer />
									<div class="input-group-addon">px</div>
								</div>
							</div>

						</div>

						<div class="form-group">
							<label for="refresh" class="col-sm-2 control-label">改变尺寸</label>
							<div class="col-sm-3">
								<div class="input-group">
									<select class='form-control' ng-model="component.resize"
										ng-options="selectItem.id as selectItem.name for selectItem in resize_options">
									</select>
								</div>
							</div>

							<div class="col-sm-3" ng-show="component.resize == 2">
								<div class="input-group">
									<div class="input-group-addon">宽度:</div>
									<input type="text" class="form-control small-input px-input"
										ng-model="component.custom_resize_width"
										style="border-radius: 0;" ng-blur="change_width()" integer />
									<div class="input-group-addon">px</div>
								</div>
							</div>
							<div ng-show="component.resize==2"
								style="text-align: center; float: left;">
								<a href="#"
									style="font-size: 1.3em; line-height: 2; color: inherit"
									ng-click="change_ratio()"> <i class="fa"
									ng-class="{'fa-chain':component.keep_ratio==true, 'fa-chain-broken':component.keep_ratio==false}"></i>
								</a>
							</div>
							<div class="col-sm-3" ng-show="component.resize == 2">
								<div class="input-group">
									<div class="input-group-addon">高度:</div>
									<input type="text" class="form-control small-input px-input"
										ng-model="component.custom_resize_height"
										style="border-radius: 0;" ng-blur="change_height()" integer />
									<div class="input-group-addon">px</div>
								</div>
							</div>

						</div>

					</form>
				</div>


				<div class="col-lg-6">
					<x-border-properties component='component'></x-border-properties>
				</div>
			</div>
		</div>
		</pane> </tabs>
	</div>
</div>