<div>
	<div class="properties label-properties">
		<tabs> <pane title="Data">
		<div class="properties-content">

			<!-- <div>
                        <label style="font-weight:bold;font-size:1.2em;margin-bottom: 20px;">Input Text Or Number : <label>
                    </div>
                    <div>
                        <input type="text" ng-model="component.txt"/>
                    </div> -->

			<x-data-properties component="component" default_option="value"></x-data-properties>
		</div>
		</pane> <pane title="Properties">
		<div class="properties-content">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-horizontal">

						<x-align-properties component="component" title="Align"></x-align-properties>
						<x-font-size-properties component="component" title="Size"></x-font-size-properties>
						<x-font-style-properties component="component" title="Style"></x-font-style-properties>
						<x-color-properties component="component" option="2"
							title='Colors'></x-color-properties>
						<x-radius-properties component="component" title="Round Border"></x-radius-properties>
						<div class="form-group">
							<label for='wrap' class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<div class="input-group">
									<a class="properties-selection togglebtn" href="#"
										ng-click="change_wrap()"><i class="fa"
										ng-class="{'fa-toggle-off':css['white-space']!='normal','fa-toggle-on':css['white-space']=='normal'}"></i></a>
									<span><label class="control-label"
										style="vertical-align: top; padding-top: 10px;">允许文字卷边</label></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		</pane> <pane title="Conditional Formatting">
		<div class="properties-content">
			<x-conditional-formatting component="component"></x-conditional-formatting>
		</div>
		</pane> </tabs>
	</div>
</div>