<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='Alignment' class="col-sm-2 control-label">图例 : </label>
			<div class="col-sm-5">
				<ul class='ibl properties-selection properties-option-list'>
					<li
						ng-class="{'position-selected':component.options.legend_position=='top'}"><a
						href="#" ng-click="change_align('top')">
							<table class='position-option-sample position-top'>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</table>
					</a></li>
					<li
						ng-class="{'position-selected':component.options.legend_position=='left'}"><a
						href="#" ng-click="change_align('left')">

							<table class='position-option-sample position-left'>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</table>
					</a></li>
					<li
						ng-class="{'position-selected':component.options.legend_position=='bottom'}"><a
						href="#" ng-click="change_align('bottom')">
							<table class='position-option-sample position-bottom'>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</table>
					</a></li>

					<li
						ng-class="{'position-selected':component.options.legend_position=='right'}"><a
						href="#" ng-click="change_align('right')">
							<table class='position-option-sample position-right'>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</table>
					</a></li>

				</ul>
			</div>

		</div>
	</div>
</div>