<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="Properties">
                 <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='FontSize' class="col-sm-2 control-label">饼图类型 : </label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <ul class="ibl properties-selection properties-option-list">
                                                <li ng-class="{'selected':component.options.inner_size=='0%'}">
                                                    <a href="#" ng-click="toggle_pie_style(0)"><i class='fa fa-circle'></i></a>
                                                </li>
                                                <li ng-class="{'selected':component.options.inner_size=='60%'}">
                                                    <a href="#" ng-click="toggle_pie_style(1)"><i class='fa fa-circle-o'></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='MaxSlices' class="col-sm-2 control-label">最大分块 : </label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control small-input" ng-model="component.options.max_slice"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="form-control btn-apply" ng-click="component.extra.update()">Apply</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for='Height' class="col-sm-2 control-label">高度 : </label>
                                    <div class="col-sm-3">
                                        <select class='form-control' ng-model="component.options.height" ng-change="component.extra.update()">
                                            <option value="Small">小</option>
                                            <option value="Medium">中</option>
                                            <option value="Large">大</option>
                                            <option value="Custom">自定义</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2" ng-show="component.options.height == 'Custom'">
                                        <div class="input-group">
                                           <input type="text" class="form-control small-input px-input" ng-model="component.options.custom_height" style="border-radius: 0;" integer/>
                                           <div class="input-group-addon">px</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2" ng-show="component.options.height=='Custom'">
                                        <button class="form-control btn-apply" ng-click="component.extra.update()">Apply</button>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for='Labels' class="col-sm-2 control-label">标题 : </label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <select class='form-control' ng-model="component.options.label" ng-options="selectItem.id as selectItem.name for selectItem in label_options" ng-change="change_label()">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='wrap' class="col-sm-2 control-label"></label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <a class="properties-selection togglebtn" href="#" ng-click="change_show_labels()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_labels]"></i></a>
                                            <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">显示标题</label></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='wrap' class="col-sm-2 control-label"></label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <a class="properties-selection togglebtn" href="#" ng-click="change_show_percentage()"><i class="fa" ng-class="{false:'fa-toggle-off', true:'fa-toggle-on'}[component.options.show_percentage]"></i></a>
                                            <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">显示百分比</label></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <x-legend-properties component="component"></x-legend-properties>
                            </div>
                            
                            <div class="form-horizontal">
                            	<x-color-properties component="component" option="2" title='Legend Colors' type="legend" pure-css="{{legendCss}}"></x-color-properties>
                            </div>

                            <div class="form-horizontal">
                                <x-color-properties component="component" option="1" title="Background" style="rgba" type="background" pure-css="{{backgroundCss}}"></x-color-properties>
                            </div>
                        </div>
                    </div>
                </div>

            </pane>
        </tabs>
    </div> 
</div>