<div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for='radius' class="col-sm-2 control-label">{{title}}
				: </label>
			<div class="col-sm-5">
				<div class="input-group">
					<ul class="ibl properties-selection properties-option-list">
						<li
							ng-class="{'selected':radius_manager.style['border-radius']=='initial'}"><a
							href="#" ng-click="change_radius({'border-radius':'initial'})"><i
								class="tiny-shape"></i></a></li>
						<li
							ng-class="{'selected':radius_manager.style['border-radius']=='5px'}"><a
							href="#" ng-click="change_radius({'border-radius':'5px'})"><i
								class="tiny-shape tiny-round-rectangle"></i></a></li>
						<li
							ng-class="{'selected':radius_manager.style['border-radius']=='100%'}"><a
							href="#" ng-click="change_radius({'border-radius':'100%'})"><i
								class="tiny-shape tiny-circle"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>