<div>
	<div class="properties label-properties">
		<tabs> <pane title="Properties">
		<div class="properties-content">
			<label>水平</label><input type='radio' name="horizental" checked /> <label>垂直</label>
			<input type='radio' name='vertical' />
		</div>
		</pane> </tabs>
	</div>
</div>