<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="Properties">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='Height' class="col-sm-2 control-label">尺寸 : </label>
                                    <div class="col-sm-3">
                                        <select class='form-control' ng-model="component.options.height" ng-change="component.extra.update()">
                                            <option value="Small">小</option>
                                            <option value="Medium">中</option>
                                            <option value="Large">大</option>
                                            <option value="Custom">自定义</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2" ng-show="component.options.height == 'Custom'">
                                        <div class="input-group">
                                           <input type="text" class="form-control small-input px-input" ng-model="component.options.custom_height" style="border-radius: 0;" integer/>
                                           <div class="input-group-addon">px</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2" ng-show="component.options.height=='Custom'">
                                        <button class="form-control btn-apply" ng-click="component.extra.update()">Apply</button>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for='ShowLegend' class='col-sm-2 control-label'>显示图例</label>
                                    <div class="col-sm-3">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_show_legend()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_legend]"></i></a>
                                    </div>
                                </div>

                                 <div class="form-group">
                                    <label for='ShowLegend' class='col-sm-2 control-label'>内部 坐标</label>
                                    <div class="col-sm-3">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_inverted()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.inverted]"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="Series" class='col-sm-2 control-label'>数据序列 : </label>
                                    <div class="col-sm-2">
                                        <button class="btn-gray" ng-click="add_series()">添加序列</button>
                                    </div>
                                </div>
								
                            </div>
                            
<div class="form-horizontal">
                            	<x-color-properties component="component" option="2" title='Legend Colors'  pure-css="{{legendCss}}" type="legend"></x-color-properties>
                            </div>


                            <div class="form-horizontal">
                                <x-color-properties component="component" option="1" title="Background" style="rgba" type="background" pure-css="{{backgroundCss}}"></x-color-properties>
                            </div>

                        </div>
                    </div>
                </div>
            </pane>
        </tabs>
    </div> 
</div>