<div>
    <div class="properties label-properties">
        <tabs>

            <pane title="data">

                <div class="properties-content">
                    <x-data-properties component="component" default_option="value"></x-data-properties>
                </div>

            </pane>

            <pane title="Properties" active='true'>
                <div class="properties-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">图类型 : </label>
                                    <div class="col-sm-6">
                                        <ul class='ibl properties-selection properties-option-list'>
                                            <li ng-class="{'selected':component.style=='column'}">
                                                <a href="#" ng-click='toggle_bar_chart()'><i class='fa fa-bar-chart'></i></a>
                                            </li>
                                            <li ng-class="{'selected':component.style=='line'}">
                                                <a href="#" ng-click="toggle_line_chart()"><i class="fa fa-line-chart"></i></a>
                                            </li>
                                        </ul> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">数据序列标题 : </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control small-input" ng-model="component.name" ng-blur="update_label()"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">在图上显示值 : </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_showvalue()"><i class="fa" ng-class="{'fa-toggle-on':component.options.show_value==true,'fa-toggle-off':component.options.show_value==false||component.options.show_value==null}"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">采用自定义颜色: </label>
                                    <div class="col-sm-5">
                                        <div class='input-group' >
                                        <a class="properties-selection togglebtn" href="#" ng-click="use_custom_color()"><i class="fa" ng-class="{'fa-toggle-on':component.options.use_custom_color==true,'fa-toggle-off':component.options.use_custom_color==false||component.options.use_custom_color==null}"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="component.options.use_custom_color">
                                    <label class="control-label col-sm-4">线图颜色: </label>
                                    <div class="col-sm-6">
                                        <div class="input-group properties-selection colorpalette">
                                            <a colorpicker="" colorpicker-position="top" ng-model="component.options.custom_color" style="border:1px solid #ddd;padding:10px;background:{{component.options.custom_color}}" title="Line/Bar color" class="ng-pristine ng-untouched ng-valid" color-change-callback="change_color">
                                            </a> 
                                            <input type="text" ng-model="component.options.custom_color" class="ng-pristine ng-untouched ng-valid">
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </pane>


        </tabs>
    </div> 
</div>