<div>
    <div class="properties table-properties">
        <tabs>
            <pane title="Properties">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">表列数: </label>
                                    <div class="col-sm-2">
                                        <div class="input-group spinner">
                                            <input type="text" class="form-control" ng-model="component.total_cols" readonly="readonly">
                                            <div class="input-group-btn-vertical">
                                              <button class="btn btn-default" type="button" ng-click="increase_cols()"><i class="fa fa-caret-up"></i></button>
                                              <button class="btn btn-default" type="button" ng-click="decrease_cols()"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">表行数: </label>
                                    <div class="col-sm-3">
                                        <select class='form-control' ng-model="component.row_option" ng-options="selectItem.id as selectItem.name for selectItem in rows_options">
                                        </select>
                                    </div>
                                    <div class="col-sm-2" ng-show="component.row_option!=2">
                                       <div class="input-group spinner">
                                            <input type="text" class="form-control" ng-model="component.row_num" integer>
                                            <div class="input-group-btn-vertical">
                                              <button class="btn btn-default" type="button" ng-click="increase_row_num()"><i class="fa fa-caret-up"></i></button>
                                              <button class="btn btn-default" type="button" ng-click="decrease_row_num()"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">列头: </label>
                                    <div class="col-sm-6">
                                        <div>
                                        <a class="properties-selection togglebtn" href="#" ng-click="component.show_header = !component.show_header"><i class="fa" ng-class="{true:'fa-toggle-on',false:'fa-toggle-off'}[component.show_header]"></i></a>
                                            <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">显示所有列头</label></span> 
                                        </div>

                                        <div>

                                        <a class="properties-selection togglebtn" href="#" ng-click="component.first_row_header = !component.first_row_header"><i class="fa" ng-class="{true:'fa-toggle-on',false:'fa-toggle-off'}[component.first_row_header]"></i></a>
                                        <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">把第一行作为列头</label></span> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <x-color-properties component="component" option="2" title="Header Colors"></x-color-properties>

                                <x-font-style-properties component="component" title="Header Font"></x-font-style-properties>
                                <x-color-properties component="component" option="2" title="Content Colors" css-data="column_css_style"></x-color-properties>
                            </div>
                        </div>
                    </div>
                </div>


            </pane>
        </tabs>
    </div> 
</div>