<div>
	<div class="properties valuepair-properties">
		<tabs> <pane title="Data">
		<div class="properties-content">
			<div></div>
		</div>
		</pane> <pane title="Properties">
		<div class="properties-content"></div>
		</pane> </tabs>
	</div>
</div>