<div>
    <div class="properties label-properties">
        <tabs>
            <pane title="属性">
                <div class="properties-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for='colspan' class="col-sm-2 control-label">Widget标题: </label>
                                    <div class="col-sm-4">
                                       <input type="text" class='small-input' style="padding: 5px;" ng-model="component.name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                               		<label for='colspan'  class='col-sm-2 control-label'>宽度:</label>
                               		<div class="col-sm-4">
										<div class="input-group">

                               			<input type="text" class='form-control small-input' ng-model='component.width' ng-if="component.isCanvas==false"/>
                                            <input type="text" class='form-control small-input' ng-model='component.width' disabled ng-if="component.isCanvas==true"/>
                               			<div class="input-group-addon">{{component.widthPercentage==true?'%':'px'}}</div>
                               			</div>
                               		</div>
                               		<div class="col-sm-4">
                               			<div class="input-group">
                                            <a class="properties-selection togglebtn" href="#" ng-click="change_width_percentage()"><i class="fa fa-toggle-off" ng-class="{'fa-toggle-off':component.widthPercentage == false,'fa-toggle-on':component.widthPercentage == true}"></i></a>
                                            <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">百分比</label></span>
                                        </div>
						            </div>
                                </div>
                                
                                <div class="form-group">
                                	<label for="colspan" class='col-sm-2 control-label'>高度:</label>
                                	<div class="col-sm-4">
										<div class="input-group">
                               			<input type="text" class='form-control small-input' ng-model='component.height' ng-if="component.isCanvas==false"/>
                                            <input type="text" class='form-control small-input' ng-model='component.height' ng-if="component.isCanvas==true" disabled/>
                               			<div class="input-group-addon">{{component.heightPercentage==true?'%':'px'}}</div>
                               			</div>
                                	</div>
                                	<div class="col-sm-4">
                               			<div class="input-group">
                                            <a class="properties-selection togglebtn" href="#" ng-click="change_height_percentage()"><i class="fa fa-toggle-off" ng-class="{'fa-toggle-off':component.heightPercentage == false,'fa-toggle-on':component.heightPercentage == true}"></i></a>
                                            <span><label class="control-label" style="vertical-align:top;padding-top: 10px;">百分比</label></span>
                                        </div>
						            </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>


            </pane>
        </tabs>
    </div> 
</div>