<div>
    <div class="properties label-properties">
        <tabs>

            <pane title="data">

                <div class="properties-content">


                    <div class="row"><div class="form-horizontal">

                        <div class="col-lg-6">
                            <div class="form-group">
                        <label class="control-label col-sm-2">采用时间序列: </label>
                        <div class="col-sm-5">
                            <a class="properties-selection togglebtn" href="#" ng-click="use_time_series()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.data.type=='time']"></i></a>
                        </div>
                                </div>
                            </div>

                    </div></div>

                    <div ng-if="component.data.type=='time1'" class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">频率 : </label>
                                    <ul class="col-sm-5 ibl frequency-selection">
                                        <li ng-class="{'selected':component.time.frequency=='S'}"><a href="javascript:void(0)" ng-click="component.time.frequency='S'">Sec</a></li>
                                        <li ng-class="{'selected':component.time.frequency=='M'}"><a href="javascript:void(0)" ng-click="component.time.frequency='M'">Min</a></li>
                                    </ul>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-sm-2">区间窗口: </label>
                                    <ul ng-if="component.time.frequency=='S'" class="col-sm-5 ibl duration-selection">
                                        <li  ng-class="{'selected':component.time.duration==0}"><a href="javascript:void(0)" ng-click="component.time.duration=0">30s</a></li>
                                        <li ng-class="{'selected':component.time.duration==1}"><a href="javascript:void(0)" ng-click="component.time.duration=1">1Min</a></li>
                                    </ul>

                                    <ul ng-if="component.time.frequency=='M'" class="col-sm-5 ibl duration-selection">
                                        <li ng-class="{'selected':component.time.duration==0}"><a href="javascript:void(0)" ng-click="component.time.duration=0">30Min</a></li>
                                        <li ng-class="{'selected':component.time.duration==1}"><a href="javascript:void(0)" ng-click="component.time.duration=1">1Hour</a></li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <button class="form-control btn-apply">Apply</button>
                                </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                    <div ng-if="component.data.type=='data'">
                    <x-data-properties component="component" default_option="value"></x-data-properties>
                        </div>
                </div>

            </pane>

            <pane title="Properties" active='true'>
                <div class="properties-content">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">坐标标题 : </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control small-input" ng-model="component.options.axis_title"/>
                                    </div>
                                    <div class="col-sm-2" ng-show="component.options.height=='Custom'">
                                        <button class="form-control btn-apply" ng-click="component.extra.update()">Apply</button>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">显示坐标标题: </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_show_axis()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_axis]"></i></a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">排序: </label>
                                    <div class="col-sm-5">
                                        <select class='form-control' ng-model="component.options.sort" ng-change="component.extra.update()"  ng-options="selectItem.id as selectItem.name for selectItem in sort_order">
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">显示 Tick标题 : </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_show_label()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_label]"></i></a>
                                    </div>

                                </div>

                                <div class="form-group" ng-show="component.options.show_label">
                                    <label class="control-label col-sm-3">标题旋转 : </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_rotate()"><i class="fa fa-repeat"></i></a>
                                    </div>

                                </div>

                                <div class="form-group" ng-show="component.options.show_label">
                                    <label class="control-label col-sm-3">显示 Tick 标记 : </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_show_tick()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_tick]"></i></a>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">显示格子线 : </label>
                                    <div class="col-sm-5">
                                        <a class="properties-selection togglebtn" href="#" ng-click="change_show_grid()"><i class="fa" ng-class="{false:'fa-toggle-off',true:'fa-toggle-on'}[component.options.show_grid]"></i></a>
                                    </div>
                                </div>
                                
                                <div class="form-horizontal">
                            	<x-color-properties component="component" option="1" title='Axis Colors'></x-color-properties>
                            </div>
                            </div>

                        </div>

                    </div>
                </div>
            </pane>


        </tabs>
    </div> 
</div>